[Desktop Entry]
Name=Dash Electrum
Comment=Lightweight cryptocurrency wallet for dash, a peer-to-peer, payments-focused, fungible, digital currency
GenericName=Cryptocurrency Wallet
Categories=Office;Finance;X-Cryptocurrency;X-Dash;X-Bitcoin;
Exec=/usr/share/org.dash.electrum.dash_electrum/dash-electrum.wrapper.sh
Icon=org.dash.electrum.dash_electrum
StartupWMClass=Dash Electrum Wallet
StartupNotify=false
Terminal=false
Type=Application
Name[en_US]=Dash Electrum
GenericName[en_US]=Cryptocurrency Wallet
Keywords=cryptocurrency;bitcoin;dash;wallet;
MimeType=x-scheme-handler/dash;
Actions=testnet

[Desktop Action testnet]
Exec=/usr/share/org.dash.electrum.dash_electrum/dash-electrum.wrapper.sh testnet
Name=Testnet mode

# .desktop spec: https://www.freedesktop.org/wiki/Specifications/desktop-entry-spec/
# .metainfo.xml spec: https://www.freedesktop.org/software/appstream/docs/

